.category-filter-box {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 750px;
  }
  
  .category-filter-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  
  .product-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 800;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    flex-basis: calc(25% - 20px);
    text-align: center;
    margin: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .product-card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .product-card .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .product-card .card-text {
    margin-top: 5px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-card .card-buttons {
    display: none;
  }
  
  .product-card:hover .card-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute; 
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  
  .product-card .card-buttons button {
    width: 100%;
    margin-top: 10px;
    background-color: #bbb;
    color: #fff;
    border: none;
  }
  
  .product-card .card-buttons button:hover {
    background-color: #888;
  }
  
  
  .load-more-button {
    margin: 20px auto;
    text-align: center;
  }

  /* Categories.css */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ant-pagination {
  margin: 0;
}

.ant-pagination-item {
  margin-right: 5px;
}

.ant-pagination-item a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.ant-pagination-item a:hover {
  background-color: #f1f1f1;
}

.ant-pagination-item.ant-pagination-item-active a {
  background-color: #333;
  color: #fff;
}

.ant-pagination-prev,
.ant-pagination-next {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  background-color: #f1f1f1;
}

.ant-pagination-prev a,
.ant-pagination-next a {
  display: inline-block;
  text-decoration: none;
}

.ant-pagination-prev a:hover,
.ant-pagination-next a:hover {
  color: #333;
}

.ant-pagination-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

  
  
  @media (max-width: 767px) {
    .product-card {
      flex-basis: calc(50% - 30px);
    }
  }