@import '~@fortawesome/fontawesome-free/css/all.min.css';

.footer-container{
  height: 300px;

}
.custom-footer {
  background-color: #ceddf5;
  padding: 40px;
  color: black;
  text-align: left;
  font-weight: bold;
  position: relative;
  height: 100%; 
}

.column {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
  font-size: 13px;
  margin-bottom: 2px;
}

.address{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.address-i{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 2px;
}

.social {
    color: #333;
    font-weight: 800;
  }

.clear {
  clear: both;
}

.para{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  font-family: 'arial', arial;
  font-weight: normal;
  font-size: 14px;
  color: black;
  margin: 10px;
}

.bottom-text p {
  margin-bottom: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
  }

  .social-icons .fab {
    font-size: 24px; 
  }


  .icon-gap {
    width: 15px;
  }